{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf"
}
