$primary: rgb(41, 237, 240);

@import "../../node_modules/bootstrap/scss/bootstrap";

.mainContainer {
    height: calc(100vh - #{$navbar-brand-height} - #{$navbar-padding-y} * 2 - #{$navbar-brand-padding-y} * 2);
    background: #000;
}